@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");

:root {
    --darkest-green: #0c2b26;
    --dark-green: #173732;
    --green: #245448;
    --pastel-green: #8eb69b;
    --light-green: #daf1df;
    --white: #ffffff;
}

body {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    width: 100vw;
    max-width: 768px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
}

body * {
    max-width: 768px;
}

nav {
    background-color: var(--green);
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    position: relative;
    z-index: 1;
}

h1 {
    color: var(--white);
    font-family: "Instrument Serif", serif;
    font-style: italic;
    font-weight: 400;
    font-size: 1.75rem;
    padding: 15px;
    margin: 0;
}

#DISCLAIMER {
    font-size: 35px;
}
#disclaimer_p {
    font-size: 30px;
    margin: 0px 15px;
}

.section {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#redeem {
    position: relative; /* Ensures child absolute elements position relative to this */
    height: 750px;
    width: 100%;
    overflow: visible; /* Prevents overflow issues */
    display: flex;
    justify-content: center;
    background-color: #daf1df;
    z-index: -2;
}

section .container {
    position: relative;
    width: 550px;
    height: 100% - 100px;
    margin: 50px 0px;
}

.pinetrees {
    position: absolute;
    width: 100%;
    opacity: 90%;
    bottom: 0;
    left: 0;
    display: block;
    z-index: -1;
}
.container {
    background-image: "images/pinetrees.png";
    margin: 10px 20px;
}
.box {
    z-index: 100;
    height: 550px;
    background-color: #365a54;
    opacity: 97%;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    position: relative;
    z-index: 10;
    padding: 1rem;
    font-size: 50px;
    margin-top: 1rem;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    border-radius: 50px;
    width: 100%;
    height: 100px;
    border: none;
    background-color: var(--light-green);
    color: var(--darkest-green);
    box-shadow: 0 0 15px var(--light-green);
    transition: all 0.2s ease-in-out;
}

button:hover {
    cursor: pointer;
    transform: scale(0.9);
    background-color: var(--darkest-green);
    color: var(--light-green);
    box-shadow: 0 0 15px var(--darkest-green);
}

#cancel {
    background-color: var(--darkest-green);
    color: var(--light-green);
    margin: 20px;
}

#cancel:hover {
    background-color: var(--light-green);
    color: var(--darkest-gre);
    box-shadow: 0 0 15px var(--light-green);
}

#confirm {
    margin: 20px;
}

/* Popup Styles */
.popup {
    z-index: 10;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
}

.popup-content {
    background-color: white;
    height: 450px;
    width: 600px;
    top: 100px;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

#footer {
    background-color: #245448;
    flex-grow: 1;
}

.button_row {
    display: flex;
    flex-direction: row;
}

#redeemedimg {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-57.5%);
    rotate: 30deg;
    transform-origin: center center;
}

button.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #ad5252;
    color: white;
}

#goodiebagimg {
    width: 450px;
    height: 450px;
}

#footer {
    display: flex;
    justify-content: center;
}

.bottomDisclaimer {
    height: auto;
    width: 100%;
    background-color: #ffbf2b;
    font-size: 30px;
    border-radius: 15px;
    padding: 10px 20px;
}
